/* builds upon boilerplate.css, which provides reset and basic typography */


/*
 * GENERIC SITE-WIDE STUFF
 */
small { font-size: small; }

a:visited { color: #809; }
a:hover { color: #33C; }
a:visited:hover { color: #A3D; }


.disabled {
  color: #888;
}

.case-count {
  color: #888;
  font-size: small;
}

.case-summary {
  color: #888;
  font-size: small;
  font-style: italic;
}

.publication {
  color: #888;
  font-size: small;
  font-style: italic;
}

.pubdate {
  color: #888;
  font-size: small;
  font-style: italic;
}

.box {
    border: 1px solid #ccc;
    margin: 1em;
    padding: 0.5em;
    -moz-border-radius: 0.5em;
}

/* navigation menus */
.nav a { padding: 0.2em 0.8em 0.2em 0px; color: #009; }
.nav ul { margin: 0; padding: 0; display: inline; }
.nav ul li { float: left; list-style: none; margin: 0; padding: 0; }
.nav ul li a { float: left; display: block; }
/* Clearing floats without extra markup  */
.nav ul:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }


.pagination {
  margin: 0.2em;
  padding: 0.2em;
/*  border: 1px solid black; */
}

.pagination .current { font-weight: bold; }


/*
 * LAYOUT
 */

#header {
  display: block;
  width: 90%;
  padding: 0.1em 5% 0em 5%;
  border-bottom: 1px solid black;
}

#header .banner {
  position: relative;
  margin: 0px;
}

#header .logo {
    position: absolute;
    top: 0.1em;
    right: 5%;
}


#header .searchbox {
    float:right;
    margin-top: -0.3em;
    padding-top: 0px;
/*  position: absolute;
  bottom: 0.5em;
  right: 5%;
  */
}


#content {
  padding: 2em 5% 0px 5%;
  margin: 0px;
}

#footer {
  clear: both;
  display: block;
  width: 90%;
  padding: 0.1em 5% 0.5em 5%;
  margin-top: 2em;
}


#front_page .top_list {
    float: left;
    width: 25%;
}

#front_page .notable-complaints {
    clear: both;
    width: 90%;
}

#refiners {
    float: right;
    clear: both;
}



/*
 *  SPECIFIC ELEMENTS/WIDGETS
 */

#header  {
    background: #eee;
 }

#header .explain
{
  color: #888;
  font-size: small;
  font-style: italic;
/*  background-color: #ccc; */
  padding: 0.5em;
  margin-bottom: 0.5em;
}

#header h1 { font-size: 175%; margin-bottom: 0px; }
#header h1 span { font-size: 75%; margin-bottom: 1em; color: #888; }
#header h1 a { color: #009; }

#footer {
  background: #eee;
  border-top: 1px solid black;
  padding-top: 1em;
  color: #444;
  font-size: small;
  position: relative;
}

#footer .copyright {
  position: absolute;
  right: 5%;
  top: 1em;
}
#footer .nav {
  margin-bottom: 0.4em;
}



#header .nav { padding: 0.5em; 10px;
    background-color: #ddd;
    -moz-border-radius: 0.5em 0.5em 0px 0px;
 }
/*
#header .nav a { padding: 5px 10px; color: #666; text-decoration: none; }
#header .nav a:hover { background: #ccc; color: #333; }
*/



#clause_stats {
    float: right;
    padding: 0px;
    margin: 0px;
}

.search-refiners h4 { border-top: 1px solid #ccc; }

