/* builds upon boilerplate.css, which provides reset and basic typography */


/*
 * GENERIC SITE-WIDE STUFF
 */

.disabled {
  color: #888;
}

.case-count {
  color: #888;
  font-size: small;
}

.case-summary {
  color: #888;
  font-size: small;
  font-style: italic;
}

.publication {
  color: #888;
  font-size: small;
  font-style: italic;
}

.pubdate {
  color: #888;
  font-size: small;
  font-style: italic;
}


/*
 * LAYOUT
 */

#header {
  display: block;
  width: 90%;
  padding: 0.1em 5% 0em 5%;
  border-bottom: 1px solid black;
}

#header .banner {
  position: relative;
  margin: 0px;
}

#header .logo {
    position: absolute;
    top: 0.1em;
    right: 5%;
}

#header .searchbox {
  position: absolute;
  bottom: 0.5em;
  right: 5%;
}


#content {
  padding: 2em 5% 0px 5%;
  margin: 0px;
}

#footer {
  clear: both;
  display: block;
  width: 90%;
  padding: 0.1em 5% 0.5em 5%;
  margin-top: 2em;
}


#front_page .top_list {
    float: left;
    border: 1px solid #ccc;
    margin: 1em;
    padding: 0.5em;
    -moz-border-radius: 0.5em;
    width: 25%;
}


/*
 *  SPECIFIC ELEMENTS/WIDGETS
 */

#header  {
    background: #eee;
 }

#header .explain
{
  color: #444;
  font-size: small;
  background-color: #ccc;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

#header h1 { font-size: 175% }

#footer {
  background: #eee;
  border-top: 1px solid black;
  padding-top: 1em;
  color: #444;
  font-size: small;
  position: relative;
}

#footer .copyright {
    position: absolute;
    right: 5%;
    top: 1em;
}


.pagination {
  margin: 0.2em;
  padding: 0.2em;
  border: 1px solid black;
}

.pagination .current { font-weight: bold; }

.nav { padding: 0.5em; 10px; }
.nav a { padding: 5px 10px; }
/*
.nav a { padding: 5px 10px; color: #666; text-decoration: none; }
.nav a:hover { background: #ccc; color: #333; }
*/

.nav ul { margin: 0; padding: 0; display: inline; }
.nav ul li { float: left; list-style: none; margin: 0; padding: 0; }
.nav ul li a { float: left; display: block; }

/* Clearing floats without extra markup  */
.nav ul:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }


#clause_stats {
    float: right;
    padding: 0px;
    margin: 0px;
}
