<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}Media Complaints Site{% endblock %}</title>

<link href="/static/boilerplate.css" type="text/css" rel="stylesheet">
<link href="/static/style.css" type="text/css" rel="stylesheet">
{% block head_extra %}
{% endblock %}
</head>
<body id="{% block page_id %}{% endblock %}" class="{% block page_class %}{% endblock %}">
    <div id="header">
        <div class="banner">
        <h1><a href="{% url front-page %}">Press complaints (the unofficial site)</a></h1>
        <div class="logo">
            <a href="http://mediastandardstrust.org"><img src="/static/mst_logo.png" alt="MST logo"/></a>
        </div>
    <div class="explain">
            All recorded complaints made to the PCC since 1996 put into a re-usable fashion so you - the public - can use them <sup><a href="#data_sources">*</a></sup>
    </div>
        <div class="nav">
            View complaints by: <a href="{% url case-list %}">Case</a>
            <a href="{% url defendant-list %}">Publication</a>
            <a href="{% url complainant-list %}">Complainant</a>
            <a href="{% url clause-list %}">Issue</a>
            <a href="{% url tag-list %}">Tags</a>
        </div>

        <div class="searchbox">
        <form action="/search" method="get">
        Quick search: <input type="text" name="q">
        <input type="submit" value="Search">
        </form>
        </div>

    </div>

    </div>
    <div id="content">
    {% block content %}{% endblock %}
    </div>
    <div id="footer">
        <div id="data_sources">
            * Complaints taken and repurposed from www.pcc.org.uk with further data added by MST</div>
        <div class="copyright">
            &copy; Media Standards Trust 2010
        </div>
    </div>
</body>
</html>

