<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}Media Complaints Site{% endblock %}</title>

<link href="/static/boilerplate.css" type="text/css" rel="stylesheet">
<link href="/static/style.css" type="text/css" rel="stylesheet">
{% block head_extra %}
{% endblock %}
</head>
<body id="{% block page_id %}{% endblock %}" class="{% block page_class %}{% endblock %}">
    <div id="header">
        <h1><a href="{% url front-page %}">Media Complaints Site</a></h1>
        <div class="nav">
            View complaints by: <a href="{% url case-list %}">Case</a>
            <a href="{% url defendant-list %}">Publication</a>
            <a href="{% url complainant-list %}">Complainant</a>
            <a href="{% url clause-list %}">Issue</a>
            <a href="{% url tag-list %}">Tags</a>
        </div>

        <div class="searchbox">
        <form action="/search" method="get">
        Quick search: <input type="text" name="q">
        <input type="submit" value="Search">
    </form>
    </div>

    </div>
    <div id="content">
    {% block content %}{% endblock %}
    </div>
    <div id="footer">
        &copy; 2010, MST
    </div>
</body>
</html>

