{% extends "base.html" %}

{% block title %}{{ case.title }}{% endblock %}

{% block content %}

<h2>
{% for c in case.complainants.all %}
{% if forloop.first %}{% else %}/ {% endif %}<a href="{{c.get_absolute_url}}">{{c}}</a>
{% endfor %}
v
{% for def in case.defendants.all %}
{% if forloop.first %}{% else %}/ {% endif %}<a href="{{def.get_absolute_url}}">{{def}}</a>
{% endfor %}
about
{% for c in case.clauses.all %}
{% if forloop.first %}{% else %}, {% endif %}<a href="{{c.get_absolute_url}}">{{c}}</a>
{% endfor %}
</h2>

<p><em>{{ case.date_of_decision|default:"date unknown" }}<br/>{{case.summary}}</em></p>

<table border=0>

<td width="50%" valign="top">
    <h3>The complaint</h3>
        <p>{{case.complaint|linebreaksbr}}</p>
        {% if case.url_of_complaint %}
        <p>(source: <a href="{{case.url_of_complaint}}">{{case.url_of_complaint}}</a>)</p>
        {% endif %}
        
        {% if case.offending_articles.all %}
        <h4>Offending Articles</h4>
        <ul>
            {% for art in case.offending_articles.all %}
            <li>
            <a href="{{ art.url }}">{{art.headline|default:art.url}}</a>
            {% if art.publication %}<span class="publication">{{art.publication.name}}</span>{%endif%}
            {% if art.pubdate %}<span class="pubdate">{{art.pubdate}}</span>{%endif%}
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        <h3>Case outcome - {{case.outcome.name}}</h3>
        {% for detail in case.detail_set.all %}
        <h4>{{detail.kind|title}}</h4>
        <p>{{detail.content|linebreaksbr}}</p>
        {% endfor %}

</td>

<td width="25%" valign="top">
    <h3>Similar cases</h3>
    {% if case.related_cases.all %}
        <ul>
            {% for related in case.related_cases.all %}
            <li><a href="{{ related.get_absolute_url }}">{{related.title}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
        <ul>
{% for c in case.complainants.all %}
<li>Cases brought by <a href="{{c.get_absolute_url}}">{{c}}</a></li>
{% endfor %}
{% for def in case.defendants.all %}
<li>Cases against <a href="{{def.get_absolute_url}}">{{def}}</a></li>
{% endfor %}
{% for c in case.clauses.all %}
<li>Cases about <a href="{{c.get_absolute_url}}">{{c}}</a></li>
{% endfor %}
</ul>


        <h3>Coverage of complaint</h3>
        <ul>
            {% for art in case.related_links.all %}
            <li>
            <a href="{{ art.url }}">{{art.headline|default:art.url}}</a>
            {% if art.publication %}<span class="publication">{{art.publication.name}}</span>{%endif%}
            {% if art.pubdate %}<span class="pubdate">{{art.pubdate}}</span>{%endif%}
            </li>
            {% endfor %}
        </ul>
</td>

<td width="25%" valign="top">
   <div class="box" >
        <h3>Case summary<h3>
        <h4>Clause<h4>
        <ul>
            {% for clause in case.clauses.all %}
            <li><a href="{{ clause.get_absolute_url }}">{{clause}}</a></li>
            {% endfor %}
        </ul>
        <h4>Tags</h4>
        <ul>
            {% for tag in case.tags.all %}
            <li><a href="{{ tag.get_absolute_url }}">{{tag}}</a></li>
            {% endfor %}
        </ul>
    </div>
</td>
</tr>
</table>

{% if user.is_authenticated %}
<a href="{% url admin:cases_case_change case.pk %}">edit</a>
{% endif %}
{% endblock %}

