{% extends "base.html" %}

{% block title %}Issues{% endblock %}

{% block content %}
<h2>Issues</h2>


{{ cases.paginator.count }} cases:
<ul>
{% for case in cases.object_list %}
<li><a href="{{ case.get_absolute_url }}">{{case.title}}</a> {{case.date_of_decision}}</li>
{% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if cases.has_previous %}
            <a href="?page={{ cases.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ cases.number }} of {{ cases.paginator.num_pages }}.
        </span>

        {% if cases.has_next %}
            <a href="?page={{ cases.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>



{% endblock %}
