{% extends "base.html" %}
{% block page_id %}front_page{% endblock %}
{% block title %}Media Complaints Site{% endblock %}

{% block content %}



<div class="box top_list">
<h3>Issues</h3>
<ul>
{% for issue in top_issues %}
<li><a href="{{ issue.get_absolute_url }}">{{issue}}</a> <span class="case-count">{{issue.num_cases}} complaints</span></li>
{% endfor %}
</ul>
</div>

<div class="box top_list">
<h3>Top publcations</h3>
<ul>
{% for ent in top_defendants %}
<li><a href="{{ ent.get_absolute_url }}">{{ent}}</a> <span class="case-count">{{ent.num_cases}} complaints</span></li>
{% endfor %}
</ul>
<a href="{% url defendant-list %}">All publications</a>
</div>

<div class="box top_list">
<h3>Top tags</h3>
<ul>
{% for tag in top_tags %}
<li><a href="{{ tag.get_absolute_url }}">{{tag.name}}</a> <span class="case-count">{{tag.num_cases}} complaints</span></li>
{% endfor %}
</ul>
<a href="{% url tag-list %}">All tags</a>
</div>

<div class="box notable-complaints">

    <h3>Example model complaints:</h3>
    <p>
These are some of the most high profile cases the PCC has dealt with in recent years. We have gone through
them to add as much contextual information as possible.
</p>
<ul>
{% for case in notable_case_list %}
<li><a href="{{ case.get_absolute_url }}">{{case.title}}</a> {{case.date_of_decision}}</li>
{% endfor %}
</ul>
    <p>
    We will be marking up other cases in the database throughout the year. If you have suggestions for what we
should include, please get in touch
</p>
</div>




{% endblock %}
