{% extends "base.html" %}

{% block title %}Issues{% endblock %}

{% block content %}
<h2>Issues</h2>


{{ issues.paginator.count }} issues:
<ul>
{% for issue in issues.object_list %}
<li><a href="{{ issue.get_absolute_url }}">{{issue.title}}</a> {{issue.date_of_decision}}</li>
{% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if issues.has_previous %}
            <a href="?page={{ issues.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ issues.number }} of {{ issues.paginator.num_pages }}.
        </span>

        {% if issues.has_next %}
            <a href="?page={{ issues.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>



{% endblock %}
